.book-reader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin-bottom: 20px;
}

.react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}